{% extends "ShopFrontendBundle:Layouts:default.html.twig" %}

{% block content %}
    {% for product in products %}
        <article>
            <h3>{{product.name}}</h3>
            <p><img src="{{ asset('uploads/' ~ product.image) }}" /></p>
            <p>{{product.description}}</p>
            <input type="number" min="1" max="255" id="cart-{{product.id}}-quantity" value="1"><br>
            <button data-cart="{{path('shop_frontend_cart_addproduct', {'id': product.id})}}" id="cart-{{product.id}}">add to cart</button>
        </article>
    {% endfor %}
{% endblock %}