{% extends "ShopFrontendBundle:Layouts:default.html.twig" %}
{% block title %}{% trans %}nav.home{% endtrans %}{% endblock%}

{% block content %}
    <section class="featured-products">
        {% for product in featured %}
            <article class="product featured-product">
                <h2>{{product.name}}</h2>
                <p>
                    <a class="fancybox" href="{{path('shop_frontend_products_show', {'id': product.id})}}">
                        <img src="{{product.imageWebPath | apply_filter('featured_product')}}">
                    </a>
                </p>
            </article>
        {% endfor %}
    </section>

    <section class="newest-products">
        <h2>{% trans %}products.newest{% endtrans %}</h2>

        {% for product in newest %}
            <article class="product">
                <h3>{{product.name}}</h3>
                <a class="fancybox" href="{{path('shop_frontend_products_show', {'id': product.id})}}">
                    <img src="{{product.imageWebPath | apply_filter('product_preview')}}">
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}