<!DOCTYPE html>
<html>
<head>
    <!--[if lt IE 9]>
        {% javascripts filter='?closure' '@ShopCommonBundle/Resources/public/js/html5.js' %}
            <script src="{{asset_url}}" type="text/javascript"></script>
        {% endjavascripts %}
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    {% if app.session.hasFlash('notice') %}
        <meta name="flash:notice" content="{{ app.session.flash('notice') }}">
    {% endif %}

    {% if app.session.hasFlash('error') %}
        <meta name="flash:error" content="{{ app.session.flash('error') }}">
    {% endif %}

    {{ csrf_meta() }}

    {% block meta %}{% endblock %}

    {% stylesheets filter='?yui_css'
        '@ShopCommonBundle/Resources/public/css/normalize.css'
        '@ShopCommonBundle/Resources/public/css/jquery.fancybox.css'
        '@ShopCommonBundle/Resources/public/css/jquery.qtip.css'
        '@ShopCommonBundle/Resources/public/css/humane.css'
    %}
        <link rel="stylesheet" href="{{asset_url}}" type="text/css">
    {% endstylesheets %}

    {% stylesheets filter='compass,?yui_css'
        '@ShopFrontendBundle/Resources/public/css/bundle.scss'
    %}
        <link rel="stylesheet" href="{{asset_url}}" type="text/css">
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    <title>{% block title %}{% endblock%} | Poster Shop</title>
</head>
<body>
    <section class="meta" id="meta">
        {% if is_granted('ROLE_IS_AUTHENTICATED') %}
            {% render "shop.frontend.controller.accounts:summaryAction" %}
        {% else %}
            {% render "ShopFrontendBundle:Sessions:new" %}
        {% endif %}
        {% render "shop.frontend.controller.cart:indexAction" %}
        <nav>
            <ul>
                <li>
                    {% if is_granted('ROLE_IS_AUTHENTICATED') %}
                        <a href="#login" class="login" style="display: none;">{% trans %}meta.login{% endtrans %}</a>
                        <a href="#login" class="account">{% trans %}meta.account{% endtrans %}</a>
                    {% else %}
                        <a href="#login" class="login">{% trans %}meta.login{% endtrans %}</a>
                        <a href="#login" class="account" style="display: none;">{% trans %}meta.account{% endtrans %}</a>
                    {% endif %}
                </li>
                <li><a href="#cart" class="cart">{% trans %}meta.cart{% endtrans %}</a></li>
            </ul>
        </nav>
    </section>

    <header>
        <h1>{% trans %}site.title{% endtrans %}</h1>
        <nav>
            <ul>
                <li><a href="{{path('shop_frontend_index_index')}}">{% trans %}nav.home{% endtrans %}</a></li>
                {% for category in categories %}
                    <li>
                        <a href="{{path('shop_frontend_categories_index', {'id': category.id})}}">
                            {{category.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% javascripts filter='?closure'
        '@ShopCommonBundle/Resources/public/js/jquery.js'
        '@ShopCommonBundle/Resources/public/js/jquery.fancybox.js'
        '@ShopCommonBundle/Resources/public/js/jquery.h5validate.js'
        '@ShopCommonBundle/Resources/public/js/jquery.qtip.js'
        '@ShopCommonBundle/Resources/public/js/jquery.tip-validate.js'
        '@ShopCommonBundle/Resources/public/js/humane.js'
        '@ShopCommonBundle/Resources/public/js/common.js'
        '@ShopFrontendBundle/Resources/public/js/meta.js'
        '@ShopFrontendBundle/Resources/public/js/cart.js'
        '@ShopFrontendBundle/Resources/public/js/login.js'
    %}
        <script src="{{asset_url}}" type="text/javascript"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
</body>
</html>