{% extends 'form_div_layout.html.twig' %}

{% block field_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} {% if title is defined %}title="{{ title|trans }}" {% endif %}/>
    {% endspaceless %}
{% endblock field_widget %}

{% block field_row %}
    {% spaceless %}
        <p{% if errors|length > 0%} class="error"{% endif %}>
            {{ form_label(form, label|default(null)) }}<br>
            {{ form_widget(form, attr|default([])) }}
        </p>
        {{ form_errors(form) }}
    {% endspaceless %}
{% endblock field_row %}

{% block field_label %}
    {% spaceless %}
        <label for="{{ id }}">{{ id|replace({'_':'.'})|trans([], 'labels') }}</label>
    {% endspaceless %}
{% endblock field_label %}