<!DOCTYPE html>
<html lang="de">
<head>
    <!--[if lt IE 9]>
        {% javascripts '@ShopCommonBundle/Resources/public/js/html5.js' %}
            <script src="{{asset_url}}" type="text/javascript"></script>
        {% endjavascripts %}
    <![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% block meta %}{% endblock %}

    {% stylesheets debug=false
        '@ShopCommonBundle/Resources/public/css/normalize.css'
        '@ShopCommonBundle/Resources/public/css/jquery.fancybox.css'
        '@ShopCommonBundle/Resources/public/css/jquery.qtip.css'
        '@ShopCommonBundle/Resources/public/css/humane.css'
    %}
        <link rel="stylesheet" href="{{asset_url}}" type="text/css">
    {% endstylesheets %}
    {% stylesheets filter='compass' debug=false
        '@ShopBackendBundle/Resources/public/css/bundle.scss'
    %}
        <link rel="stylesheet" href="{{asset_url}}" type="text/css">
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}

    <title>Administration | {% block title %}{% endblock%}</title>
</head>
<body>
    <header>
        <h1>Poster Shop Admin</h1>
        <nav>
            <ul>
                <li><a href="#">Profil</a></li>
                <li><a href="#">{% trans %}logout{% endtrans %}</a></li>
            </ul>
        </nav>
    </header>

    <nav>
        <header>
            <h2>Navigation</h2>
        </header>
        <ul>
            <li><a href="{{path("shop_backend_categories_index")}}">{% trans %}categories{% endtrans %}</a></li>
            <li><a href="#">{% trans %}products{% endtrans %}</a></li>
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% javascripts
        '@ShopCommonBundle/Resources/public/js/jquery.js'
        '@ShopCommonBundle/Resources/public/js/jquery.fancybox.js'
        '@ShopCommonBundle/Resources/public/js/jquery.h5validate.js'
        '@ShopCommonBundle/Resources/public/js/jquery.qtip.js'
        '@ShopCommonBundle/Resources/public/js/jquery.tip-validate.js'
        '@ShopCommonBundle/Resources/public/js/jquery.effects.js'
        '@ShopCommonBundle/Resources/public/js/jquery.effects.fade.js'
        '@ShopCommonBundle/Resources/public/js/jquery.effects.highlight.js'
        '@ShopCommonBundle/Resources/public/js/humane.js'
        '@ShopCommonBundle/Resources/public/js/common.js'
    %}
        <script src="{{asset_url}}" type="text/javascript"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
</body>
</html>